

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain light";
}

html, body {
    height: 100%;
    width: 100%;
    color: #fff;
}

body {
    cursor: none;
}

#main{
    position: relative;
    background-color: #030303;
}

#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    position: fixed;
    z-index: 996;
    border: 1px solid #ffffff8e;
    mix-blend-mode: difference;
    /* transform: translate(-50%, -50%); */
    
}

.menu-opener__square{
    width: fit-content;
}


#loader{
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    position: fixed;
    z-index: 999;
    padding: 25vh 7vw;
}

.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
    overflow: hidden;
    gap: 3vw;

}

#line1-part1{
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 1vw;
    margin-bottom: 1.8vw;
}

.line h2{
   font-size: 5vw ;
   text-transform: uppercase;
   font-weight: 900;
   opacity: 0;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}

@keyframes anime{
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;

    }

    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px  #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }

    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px  #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}







#line1-part1 h5 ,#line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}


.line h1{
     font-size: 6.5vw;
     text-transform: uppercase;
     font-weight: 800;

}


#page1{
   height: 93vh;
   width: 100%;
   background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 4.5vw;
}

#left-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
.hero{
    width: 71%;
    margin-left: 28%;
    overflow: hidden;
    position: relative;
    z-index: 993;
    height: fit-content;
    display: flex;
    align-items: center;


}
.hero:nth-child(2){
    margin-top: 16vh;
}

.hero h1, .hero h2{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;
    font-weight: 600;
      
}

#hero3{
    display: flex;
    align-items: center;

}

.hero h2{
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
}

.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;

}

#video-container{
    height: 63vh;
    width: 72vw;
    position: relative;
    left: 28%;
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;

}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-crsr{
    height: 9.5vw;
    width: 9.5vw;
    background-color: #FEA63C;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15%;
    left: 70%;
}

.video-crsr i {
    font-size: 2.4vw;
   
}

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
}

#page4-content{
    margin-left: 28%;
    width: 72vw;
    position: relative;

}

#page4-content h1{
   font-size: 7vw;

}

.underline{
    height: 0.04vw;
    width: 93%;
    background-color: #fff;
    margin-top: 9vh;
}

#page4-content>p{
    font-size: 2.2vw;
    width: 54%;
    margin-top: 5vh;
}

#page4-flex{
    display: flex;
    margin-top: 7vh;
}

#page4-flex img{
    width: 47%;
    
}
#page4-flex p{
    width: 23%;
    font-size: 1vw;
    line-height:1.2vw ;
    margin-left: 1.5vw;
}

#page4-bluediv{
    width: 47%;
    background-color: #3F7DF4;
    position: relative;
    margin-top: -24vh;
    margin-left:24vw;
    padding: 4vw 3vw;
    
}

.blue-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 0;
    border-bottom: 0.08vw solid #fff;
}

.blue-content h2{
    font-size: 1.4vw;
}

.blue-content p{
    width: 49%;
    font-size: 1vw;
}

#page4-content h4{
    margin-top: 1vw;
    font-size: 1vw;
}


#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
 
}